<html>

<head>

   <Title>Change Password</title>
   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="../static/css/register.css">

   <link rel="shortcut icon" href="../static/favicon.png">

</head>

<body>
<!--
 ================================================== -->
   <div class="row">

      <form method="post">
         <h1>Change Password</h1>
         <h2>Enter a new password</h2>
         <input hidden name="email" value="{{email}}">

         <input name="newpsw" type="password" id="contactName" placeholder="New password..." value="" minLength="6" required
            tooltip="Enter your email" />

         <button class="submitform">Submit</button>

</body>

<html>