<!DOCTYPE html>

<head>

    <title>WebDesign</title>

    <link rel="stylesheet" href="../static/css/base3.css">
    <link rel="stylesheet" href="../static/css/main3.css">

    <link href='https://fonts.googleapis.com/css?family=Public Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>

    <!-- favicon
	================================================== -->
    <link rel="shortcut icon" href="favicon.jpg">
    <script src="https://kit.fontawesome.com/69c62f68f1.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- coursepage hero
   ================================================== -->
    <section id="hero">

        <div class="row">

            <div class="container">
                <div class="column">
                    <p><b><a>Development</a> > <a>Web-Development</a> > <a>JavaScript</a></b></p>


                    <div>
                        <h3>JavaScript - Full Course on JavaScript<br>(includes 80 tasks)</h3>
                        <p class="description">Learn and understand all the modern JavaScript functions<br>
                            that are used in practice most often in a JavaScript course</p>
                        <p class="coursestat"><span>4,9 <i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span> <a>(779
                                ratings)</a> 2 415 students<br>
                            Authors: <a href="#teachers">Kim Taehyung, Jeon Jungkook | Software Engineer, PhD</a><br>
                            Last update: 11.2022</p>
                    </div>

                </div><!-- end column -->

                <div id="coursepanel" class="column">
                    <img src="../static/Elements/image 7.png">
                    <h4><b>84,99 $</b></h4>
                    <button class="cart">Add to Cart</button>
                    <button class="buy">Buy Now</button>
                    <p></p>
                </div>

            </div> <!-- end container -->

        </div> <!-- end row -->

    </section>

    <!-- main
   ================================================== -->

    <section id="main">

        <div class="row">
            <div>
                <a href="#main">Overview</a>
                <a href="#material">Lectures</a>
                <a href="#courses">Similar Courses</a>
            </div>

            <div>
                <h5>This course includes:</h5>
                <div class="container">

                    <div class="container">
                        <div id="ad"><img src="../static/Elements/clock.png">
                            <p class="inclusion"><br>14,5 hours video</p>
                        </div>

                    </div> <!-- end container -->

                    <div class="container">
                        <div id="ad"><img src="../static/Elements/open-book.png">
                            <p class="inclusion">14 articles + resources</p>
                        </div>

                    </div> <!-- end container -->

                    <div class="container">
                        <div id="ad"><img src="../static/Elements/certificate.png">
                            <p class="inclusion">Certificate of completion</p>
                        </div>

                    </div> <!-- end container -->

                </div> <!-- end main container -->

            </div>

            <div id="#main">
                <h3>What will I learn ?</h3>
                <input type="checkbox" id="check0">
                <br>
                <p>The Macine learning basics program is
                    designed to offer a solid foundation & work-
                    ready skills for ML engineers. The Machine
                    learning basics program is designed to offer a
                    soli foundation & work-ready skills for ML
                    engineers.<br></p>
                <div class="data data0">
                    <p>The Macine learning basics program is
                        designed to offer a solid foundation & work-
                        ready skills for ML engineers. The Machine
                        learning basics program is designed to offer a
                        soli foundation & work-ready skills for ML
                        engineers.<br></p>
                </div>
                <label for="check0">Expand<i class="fa-solid fa-chevron-down"></i></label><br>

            </div>

        </div> <!-- end row -->

    </section> <!-- end main -->

    <!-- course material
   ================================================== -->

    <section id="material">

        <div class="row">

            <h3>Course Materials</h3>

            <div class="graybox">

                <div class="card">
                    <input type="checkbox" id="check1">
                    <div class="container">
                        <div class="column">
                            <p>Lesson 1</p>
                            <h4>Introduction</h4>
                        </div>

                        <label for="check1" class="bar1"><i class="fa-solid fa-chevron-down"></i></label>

                    </div>

                    <div class="data data1">
                        <div class="column">
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 1</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 2</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 3</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 4</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <input type="checkbox" id="check2">
                    <div class="container">
                        <div class="column">
                            <p>Lesson 2</p>
                            <h4>Data Preprocessing</h4>
                        </div>

                        <label for="check2" class="bar2"><i class="fa-solid fa-chevron-down"></i></label>

                    </div>

                    <div class="data data2">
                        <div class="column">
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 1</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 2</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 3</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 4</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <input type="checkbox" id="check3">
                    <div class="container">
                        <div class="column">
                            <p>Lesson 3</p>
                            <h4>Text Mining</h4>
                        </div>

                        <label for="check3" class="bar3"><i class="fa-solid fa-chevron-down"></i></label>

                    </div>

                    <div class="data data3">
                        <div class="column">
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 1</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 2</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 3</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 4</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <input type="checkbox" id="check4">
                    <div class="container">
                        <div class="column">
                            <p>Lesson 4</p>
                            <h4>Practice Projects</h4>
                        </div>

                        <label for="check4" class="bar4"><i class="fa-solid fa-chevron-down"></i></label>

                    </div>

                    <div class="data data4">
                        <div class="column">
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 1</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 2</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 3</p>
                            </div>
                            <div class="container">
                                <img src="../static/Elements/play.png">
                                <p>Sub Lecture 4</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

            </div> <!-- end graybox -->

        </div> <!-- end row -->

    </section> <!-- end material -->

    <!-- learn
   ================================================== -->

    <section id="learn">

        <div class="row">

            <h3>What you will learn</h3>

            <div class="learncon">
                <hr>
                <div class="container">
                    <div class="column">
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Learn the basic syntax and
                                data structures of Python 3!</p>
                        </div>
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Explore advanced features
                                Python, such as the "collections" module and
                                working with timestamp!</p>
                        </div>
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Learn how to use Object-
                                Oriented Programming!</p>
                        </div>
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Study complex topics, such
                                as decorators and generators!</p>
                        </div>
                    </div> <!-- end column -->

                    <div class="column">
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Learn how to create Jupiter notebooks
                                Notebook and files .ru</p>
                        </div>
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Learn how to create graphical
                                interfaces in Jupiter notebooks
                                Notebook!</p>
                        </div>
                        <div class="container">
                            <img src="../static/Elements/check.png">
                            <p>Get a confident understanding of the basics
                                Python language!</p>
                        </div>
                    </div> <!-- end column -->

                </div> <!-- end container -->
                <hr>
            </div> <!-- end learncon -->

        </div> <!-- end row -->

    </section> <!-- end learn -->

    <!-- courses
   ================================================== -->

    <section id="courses">

        <div class="row">
            <h3>Other Courses</h3>

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

            <a href="" class="container">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <p>4.5<i class="fa-solid fa-star"></i></p>
                    <p>10.5k Learners</p>
                </div><!-- end column -->

                <img src="../static/Elements/200.jpg">
            </a><!-- end container -->

        </div> <!-- end row -->

    </section><!-- end learn -->

    <!-- teachers
   ================================================== -->

    <section id="teachers">

        <div class="row">

            <h3>Teachers</h3>
            <div class="bio"><a class="initials">Kim Taehyung</a>
                <h4>Head of Data Science in BTS</h4>
                <div class="container">
                    <img src="../static/Elements/image 10.png">
                    <div class="column">
                        <p><i class="fa-solid fa-star"></i></p>
                        <p><i class="fa-solid fa-medal"></i></p>
                        <p><i class="fa-solid fa-user-group"></i></p>
                        <p><i class="fa-solid fa-circle-play"></i></p>
                    </div>
                    <div class="column">
                        <p>4,9 rating</p>
                        <p>968 968 feedbacks</p>
                        <p>3 103 951 students</p>
                        <p>57 courses</p>
                    </div>
                </div> <!-- end container -->

                <div class="column">
                    <input type="checkbox" id="check5">
                    <p>Kim Taehyung has a BS and MS in Mechanical Engineering from Santa Clara University and years of
                        experience as a professional instructor and trainer for Data Science, Machine Learning and
                        Python
                        Programming. He has publications and patents in various fields such as microfluidics, materials
                        science,
                        and data science. Over the course of his career he has developed a skill set in analyzing data
                        and
                        he
                        hopes to use his experience in teaching and data science to help other people learn the power of
                        programming, the ability to analyze data, and the skills needed to present the data in clear and
                        beautiful visualizations.</p>

                    <div class="data data5">
                        <p>Currently he works as the Head of Data Science for Pierian Training and provides in-person
                            data
                            science
                            and python programming training courses to employees working at top companies, including
                            General
                            Electric, Cigna, The New York Times, Credit Suisse, McKinsey and many more. Feel free to
                            check
                            out the
                            website link to find out more information about training offerings.</p>
                    </div>
                    <label for="check5">Expand<i class="fa-solid fa-chevron-down"></i></label>
                </div> <!-- end column -->
            </div>

            <div class="bio"><a class="initials">Jeon Jungkook</a>
                <h4>Professional Software Engineer | SW Architect | Instructor</h4>
                <div class="container">
                    <img src="../static/Elements/image 11.png">
                    <div class="column">
                        <p><i class="fa-solid fa-star"></i></p>
                        <p><i class="fa-solid fa-medal"></i></p>
                        <p><i class="fa-solid fa-user-group"></i></p>
                        <p><i class="fa-solid fa-circle-play"></i></p>
                    </div>
                    <div class="column">
                        <p>4,9 rating</p>
                        <p>968 968 feedbacks</p>
                        <p>3 103 951 students</p>
                        <p>57 courses</p>
                    </div>
                </div> <!-- end container -->

                <div class="column">
                    <input type="checkbox" id="check6">
                    <p>Jeon Jungkook is an experienced software engineer and software architect.
                        In his professional career, he has developed numerous flagship products and has worked on
                        cutting-edge solutions and technologies for companies like Google, Intel, and many others.
                        He is primarily interested in real-time and high-scale software and demonstrated his technical
                        leadership skills working at many leading companies in their fields.</p>

                    <div class="data data6">
                        <p>He is also programming language and technology agnostic and his teaching methods emphasize
                            understanding the core fundamentals and developing the right way of thinking and good
                            practices.
                            His passion for technology made him a good mentor for other engineers and students, and he
                            is
                            excited to share his knowledge and experience here at Spikizy.</p>
                    </div>
                    <label for="check6">Expand<i class="fa-solid fa-chevron-down"></i></label>
                </div><!-- end column -->
            </div>

        </div> <!-- end row -->

    </section> <!-- end teachers -->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="fullscreen">

            <div class="container">
                <div>
                    <h3>LOGO</h3>
                </div>

            </div>

            <div class="footcon">

                <div class="column">

                    <div>
                        <p>Contact Us</p>
                    </div>

                    <div>
                        <p><span>Call : +7 708 312 0160<br>
                                Praesent nulla massa, hendrerit<br>
                                vestibulum gravida in, feugiat auctor felis.<br>
                                Email: mielesenn@gmail.com</span></p>
                    </div>
                    <div class="container">
                        <a href="https://www.instagram.com/nextgn_aio/" id="socials"><i class="fa-brands fa-instagram"></i></a>
                        <a href="" id="socials"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://t.me/TotaeAboutIT" id="socials"><i class="fa-brands fa-telegram"></i></a>
                        <a href="" id="socials"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>

                </div> <!-- end column -->

                <div class="column">

                    <div>
                        <p>Explore</p>
                    </div>

                    <div>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Course</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>

                </div><!-- end column -->

                <div class="column">

                    <div>
                        <p>Category</p>
                    </div>

                    <div>
                        <ul>
                            <li><a href="">Design</a></li>
                            <li><a href="">Development</a></li>
                            <li><a href="">Marketing</a></li>
                            <li><a href="">Business</a></li>
                            <li><a href="">Lifestyle</a></li>
                            <li><a href="">Photography</a></li>
                            <li><a href="">Music</a></li>
                        </ul>
                    </div>

                </div> <!-- end column -->

                <div class="column">

                    <div>
                        <p class id="foothead">Subscribe</p>
                    </div>

                    <div>
                        <p><span>Lorem Ipsum has been them an industry<br>
                                printer took a galley make book.</span></p>
                    </div>
                    <form id="contact">
                        <input type="text" id="contactform" placeholder="Email here">
                        <button>Subcribe Now</button>
                    </form>

                </div> <!-- end column -->

            </div> <!-- end footcon -->

        </div> <!-- end container -->

        </div> <!-- end row -->

    </footer>

</body>